<div class="about">
	<h2>about</h2>
	<p>Java, Maven, Tomcat, Yeoman, AngularJS, Bootstrap, Bower, Grunt
		oh wait, you mean about me...
	<div class="tldr">
		<h3>tl;dr</h3>
		<p>I have a B.S. Degree in Computer Engineering from Istanbul
			Technical University. I'm working as a software Engineer, mostly
			coding with Java and trying to learn Python and Go.
		<h3>but wait, there is more!</h3>
		<p>When I was a child, there was a TV program in TRT (the national
			public broadcaster of Turkey) about April 23 Children's Festival.
			Hundreds of children from all over the world came to Turkey for a
			couple of days and became a guest at one of Turkish family's home.
			Host family, their kids and the child from foreign country walked
			around the city, went to the zoo, played games and spent times
			together, so kids found a chance to get familiar with a different
			culture. I think it was a very unique experience for both sides, also
			there was one more interesting thing about this activity which is
			coming out at the time of farewell. When time to leave had arrived
			there was a moment of silence. Kids looked each other one last time,
			then one of them started to cry and then no one could stop own tears.
			It amazed me every single time because of the fact that how children
			became friends so easily and so true even they cannot speak a common
			language properly. I always wanted to be part of this event,
			unfortunately I was raised in a small town, so these kind of things
			did not happened in there, but whenever I enjoy a movie from Japan or
			a music from Iceland or a novel from Columbia or even a comic from
			global 9GAG community, I know that it all started with this TV show
			from 90's.
	</div>

</div>


