<div class="about">
	<h3>about me</h3>
	<p>
		My name is <a href=""><span uib-popover-html="htmlPopover"
			popover-trigger="mouseenter" popover-placement="bottom"><i>Afsin</i></span></a>.
		<br /> I'm living in Istanbul, watching films ever so often, admiring
		Nordic countries and Japan and maybe an introvert, just maybe. <br />
		I have a B.S. degree in Computer Engineering from Istanbul Technical
		University. <br />
	<h3>books</h3>
	<p>
	<h3>films</h3>
	<p>
	<h3>about this website</h3>
	<p>
		Yeoman, AngularJS, Bootstrap, Bower, Grunt, Genericons <br /> Java,
		Jersey, MongoDB, Apache Maven, Apache Tomcat
</div>


