<div class="about">
	<h2>about</h2>
	<p>Java, Jersey, Maven, Tomcat, Yeoman, AngularJS, Bootstrap,
		Bower, Grunt, oh wait, you mean about me...
	<div class="tldr">
		<h3>tl;dr</h3>
		<p>I have a B.S. Degree in Computer Engineering from Istanbul
			Technical University. I'm working as a software Engineer, mostly
			coding with Java and trying to learn Python and Go.
		<h3>but wait, there is more!</h3>
		<p>When I was a child, there was a TV program in TRT (national
			public broadcaster of Turkey) about April 23 Children's Festival.
			Hundreds of children from all over the world came to Turkey for a
			couple of days and became a guest in the house which belongs to
			Turkish families who had a child with same age with the guest child.
			Host family, their child and the child from foreign country looked
			around the city, went to the zoo, played games, spent times together
			and so on. When time to leave had arrived there was a moment of
			silence for a second. Two children looked each other one last time,
			then one of them started to crying and then everyone did. It always
			so amazed me that how children became friends so easily and so true
			even they cannot speak a common language properly. I always wanted to
			be part of this event, unfortunately I was raised in a small town, so
			these kinds of things not happened in there. Today I'm nearly thirty
			years old and I still wonder and still worship about foreign cultures
			and people from far lands and it all started with this TV show from
			90's.
		<p>Second thing from my early ages that had a strong effect on me
			is children literature classics like David Copperfield, Tom Sawyer
			and The Paul Street Boys. These books are perfect for a kid to learn
			about friendship, being in love and going on adventures. Alice in the
			Wonderland, on the other side, is the first book that showed me a
			completely different universe. I can also say that Pokemon, Captain
			Tsubasa and even Watashi Wa Candy had some serious effect on my
			childhood because of same reasons (It is interesting that too many
			great anime series were broadcasted in Turkey in 90's!). I also have
			to mention about Back to the Future and Doc. Emmett Brown. BTTF is
			the first sci-fi film impressed me and Doc. Emmett Brown is the first
			scientist that I really admire. Sci-Fi and fantasy genres is always
			getting me inside easily. First story that I wrote was about eternal
			love between a potato and a tomato who live in a fridge. I wrote that
			story for the competition in my school, but didn't work out very
			well. Same period of time, Harry Potter was getting popular among
			people of my generation. Last book was released when I was at the
			university and I am and always be very glad to be one of a witness to
			that amazing journey.
		<p>I watched hundreds of films in college years. I especially like
			F. Fellini, A. Kurosawa, J.P. Jeunet, G. Tornatore, M.
			Shinkai and of course most special one for me is Hayao Miyazaki.
		<p>I read classics mostly instead of new releases. I also like
			popular science books like C. Sagan, R. Dawking, D. Hofstadter, D.
			Dennett mostly about artificial intelligence, evolution and natural
			selection.
	</div>

</div>


