<div class="contact">
	<h3>contact</h3>
	<hr>
	<table>
		<tbody>
			<tr>
				<td>email</td>
				<td>afsinka_at_gmail_dot_com</td>
			</tr>
			<tr>
				<td>twitter</td>
				<td><a
					href="https://twitter.com/intent/tweet?screen_name=afsinka"
					class="twitter-mention-button" data-size="large"
					data-related="afsinka">Tweet to @afsinka</a></td>
			</tr>
		</tbody>
	</table>

	<br />

	<h3>send anonymous message</h3>
	<hr>
	<div ng-controller="ContactCtrl">
		<form ng-submit="sendPost()">
			<fieldset class="form-group">
				<label for="name">Name: </label> <input ng-model="name"
					class="form-control" id="name" placeholder="(optional)" /> <label
					for="message">Message: </label>
				<textarea ng-model="message" class="form-control" id="message"
					placeholder="(your message)"></textarea>

			</fieldset>
			<button type="submit" id="submitMsg" class="btn btn-primary">Send</button>
		</form>
		<p>{{result}}
	</div>
<br/>
<br/>
</div>