<div class="contact">
	<h2>contact</h2>
	<table>
		<tbody>
			<tr>
				<td>email</td>
				<td>afsinka_at_gmail_dot_com</td>
			</tr>
			<tr>
				<td>twitter</td>
				<td><a
					href="https://twitter.com/intent/tweet?screen_name=afsinka"
					class="twitter-mention-button" data-size="large"
					data-related="afsinka">Tweet to @afsinka</a></td>
			</tr>
		</tbody>
	</table>
	
	 <div ng-controller="ContactCtrl">
        <form ng-submit="sendPost()">
            <input ng-model="message" />
            <button type="submit">Send</button>
        </form>
        <p>Message from servlet: {{result}}
    </div>

</div>