
<div class="headline">

	<div id="myPic">
		<img src="images/afsinka.jpg" width="170" height="170" /> <span
			class="text-content"></span>
	</div>

	<p>
		I'm <b>Afsin Kapusuzoglu</b>, a software engineer, living in Istanbul,
		sharing some code snippets for various problems in my <a
			href="https://afsinka.wordpress.com/" target="_blank">blog</a>, also
		a member of <a
			href="http://stackoverflow.com/users/1091666/afsinka?tab=profile"
			target="_blank">stackoverflow</a> and <a
			href="https://github.com/afsinka" target="_blank">GitHub</a>.
	</p>
	<br /> <br />
	<!-- <h2>Projects</h2>  -->

</div>


