
<div class="headline">

	<div id="myPic">
		<img src="images/afsinka.jpg" width="170" height="170" /> <span
			class="text-content"></span>
	</div>

	<p>
		I'm <b>Afsin Kapusuzoglu</b>, a software engineer, a Java developer,
		an open source enthusiast and sharing some code snippets for various
		problems in my <a href="https://afsinka.wordpress.com/"
			target="_blank">blog</a>. <br />
	<p style="font-size: 18px;">I'm living in Istanbul, watching films
		ever so often, admiring Nordic countries and Japan and maybe an
		introvert, just maybe.</p>
	<br />
	<h3>Projects</h3>
	<ul>
		<li>1. huennap</li>
		<li>2. alich</li>
		<li>3. eede</li>
	</ul>

</div>


